import os

# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'zoby'
DEBUG = True

DATABASE=os.path.join(BASEDIR, 'demo.sqlite')

UPLOADS_DEFAULT_DEST = TOP_LEVEL_DIR + '/demo/img/'
UPLOADS_DEFAULT_URL = 'http://localhost:5000/img/'

UPLOADED_IMAGES_DEST = TOP_LEVEL_DIR + '/demo/img/'
UPLOADED_IMAGES_URL = 'http://localhost:5000/img/'

UPLOADED_DEMOSET_DEST = TOP_LEVEL_DIR + '/demo/uploads/'
UPLOADED_DEMOSET_URL = 'http://localhost:5000/uploads/'

